[user]
  name = a-r-g-v
  email = info@arg.vcs
[http]
  sslVerify = false
[push]
  default = current
[merge]
  ff = false
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[diff]
  patience = true
[help]
  autocorrect = 0
[core]
  excludesfile = ~/.gitignore
